OpenAI-Gym-Hearts/
Hearts-master/

SIMPLE/*.*
SIMPLE/app/*.*
SIMPLE/images/
SIMPLE/private/
SIMPLE/scripts/
SIMPLE/app/__pycache__/
SIMPLE/app/logs/
SIMPLE/app/utils/
SIMPLE/app/viz/
SIMPLE/LICENSE
SIMPLE/app/Dockerfile

SIMPLE/app/environments/*
!SIMPLE/app/environments/hearts/

SIMPLE/app/zoo/*
!SIMPLE/app/zoo/hearts
!SIMPLE/app/zoo/hearts/*

SIMPLE/app/zoo/hearts/_model_*.zip

SIMPLE/app/models/*
!SIMPLE/app/models/hearts
!SIMPLE/app/models/hearts/*